{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "indent": ["error", "tab", { "MemberExpression": 0, "SwitchCase": 1 }],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1,
        "maxBOF": 1
      }
    ],
    "object-curly-newline": 0,
    "no-await-in-loop": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "class-methods-use-this": 0,
    "linebreak-style": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
